@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.ticTacToe {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    //max-width: 500px;
    margin: auto;
    @include ms-Grid-row;
    @include ms-fontColor-white;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .startWindow {
    display: -webkit-box;
    justify-content: center;
    align-content: center;
  }

  .startWindowBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    margin: 30px;
  }

  .gameWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .boardRow:after {
    clear: both;
    content: "";
    display: table;
  }

  .square {
    @include ms-fontSize-28;
    background: #fff;
    border: 1px solid #999;
    float: left;
    line-height: 34px;
    height: 75px;
    width: 75px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    display: table-cell;
  }

  .square:focus {
    outline: none;
  }

  .game {
    @include ms-fontSize-20;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
  }

  .gameInfo {
    @include ms-fontSize-20;
    margin-left: 20px;
  }
}
